
<section class="footer">

    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href="/">Home</a>
            <a href="/about/">about</a>
            <a href="/services/">Services</a>
        </div>
        <div class="box">
            <h3>More links</h3>
            <a href="#">My account</a>
            <a href="#">my order</a>
            <a href="#">my favourite</a>
        </div>
        <div class="box">
            <h3>Locations</h3>
            <a href="#">Andhrapradesh</a>
            <a href="#">Telangana</a>
            <a href="#">Bangalore</a>
        </div>
        
        <div class="box">
            {% if pata %}
            {% for j in pata %}
            <h3>Contact info</h3>
            <a href="#">{{j.mobile_number}}</a>
            <a href="#">{{j.email}}</a>
            <a href="#">{{j.address}}</a>
            {%endfor%}
            {%endif%}
            
        </div>
        

        <div class="credit">created by ram | all right reserved</div>
    </div>

</section>




</body>
</html>